.price-change{
    text-align: right;
    color:green;
}

.negative{
    color:red;
}

#stock-ticker{
    background-color:white;
    color:black;
}

#stock-symbol-input, #form-submit{
    width:100%;

}

.stock-card{
    border: 1px solid black;
    width:50%;
    margin: 0 auto;

}
